*                                        @405392-Manca-Wysocki-Elias-Lautaro @405132-Santiago-Mansilla
/ticketera/frontend/                     @405392-Manca-Wysocki-Elias-Lautaro @405132-Santiago-Mansilla
/ticketera/backend/auth-service/         @405392-Manca-Wysocki-Elias-Lautaro
/ticketera/backend/event-service/        @405132-Santiago-Mansilla
/ticketera/backend/ticket-service/       @405392-Manca-Wysocki-Elias-Lautaro
/ticketera/backend/payment-service/      @405132-Santiago-Mansilla
/ticketera/backend/notification-service/ @405392-Manca-Wysocki-Elias-Lautaro @405132-Santiago-Mansilla
/ticketera/backend/gateway/              @405392-Manca-Wysocki-Elias-Lautaro @405132-Santiago-Mansilla
