spring:
  config:
    activate:
      on-profile: dev

  devtools:
    restart:
      enabled: true
    livereload:
      enabled: false

  data:
    redis:
      password: ""

  jpa:
    hibernate:
      ddl-auto: validate

  notification:
    queue: notifications.queue

app:
  cookie:
    domain: localhost
    secure: true
    same-site: None
    path: /

logging:
  level:
    root: INFO
    org.springframework.jdbc.core: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web.servlet.DispatcherServlet: DEBUG

management:
  endpoint:
    health:
      show-details: always
